@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to right bottom, #dc9696, #aa4545) no-repeat;
}
main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 530px;
  height: 200px;
  border: 1px solid white;
  border-radius: 15px;
  font-size: 30px;
  color: aliceblue;
}